._container {
  transition: all 0.1s;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 412px;
  width: 452px;
  overflow: hidden;

  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 6px;

  margin: 4px;
}

._container:hover {
  transition: all 0.3s;

  opacity: 1;
}

._top {
  width: 100%;
  height: 350px;

  background: ghostwhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1px;
}

._title {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */

  height: 60px;
  width: 92%;

  margin-left: auto;
  margin-right: auto;

  color: rgb(177, 177, 177);
  font-size: 12px;
}

._displayImage {
  width: 45px;
  height: 45px;

  overflow: hidden;

  margin-right: 10px;
  border-radius: 50%;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* background: url("https://images.pexels.com/photos/1139743/pexels-photo-1139743.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-size: cover;
  background-position: center;

  position: relative;
}

._displayImage img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;

  object-fit: cover;
}

._titleTexts {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

._media {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 430px;
  height: 250px;

  margin-left: auto;
  margin-right: auto;

  background: rgb(235, 235, 235, 0.4);
  border-radius: 6px;

  /* background: url("https://images.pexels.com/photos/4061385/pexels-photo-4061385.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  background-size: cover;
  background-position: center;

  position: relative;
  overflow: hidden;
}

._media img {
  transition: all 0.8;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;

  object-fit: cover;
}

._imgText {
  cursor: default;
  /* background-color: red; */

  width: 80%;
  height: 100%; 

  text-align: center;

  position: absolute; 
  top: 0px;

  color: rgb(84, 84, 84);
  font-size: 15px;
  font-weight: 800;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

._icons {
  width: 94%;
  height: 38px;

  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;

  color: rgb(177, 177, 177);
  font-size: 12px;
}

._icon {
  height: 15px;
  width: 15px;

  margin: 0px;
  padding: 0px;

  font-size: 12px;
}

._bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 62px;

  background: transparent;
  border-radius: 1px;
}

._tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  transition: all 0.1s;

  width: 80px;
  height: 25px;

  border-radius: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  opacity: 0.8;
  margin: 4px;

  background-size: cover;
  background-position: center;

  color: rgb(167, 167, 167);
  font-size: 12px;
  text-align: center;

  cursor: pointer;
}

._tag:hover {
  transition: all 0.1s;
  opacity: 1;
  margin: 4.5px;
  width: 79px;
  height: 24px;

  background: lightcyan;
}

._tagPlus {
  transition: all 0.1s;
  cursor: pointer;

  width: 25px;
  height: 25px;

  border-radius: 50%;

  /* background: white; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

  opacity: 0.5;
  margin: 4px;
  color: white;
}

._tagPlus:hover {
  transition: all 0.1s;

  width: 24px;
  height: 24px;

  opacity: 1;
  margin: 4.5px;

  color: lightcyan;
}

@media (max-width: 600px) {
}
