._container {
  transition: all 0.1s;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 412px;
  width: 450px;

  /* background: white; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  border-radius: 6px;

  margin: 4px;
  opacity: 0.85;

  position: relative;
}

._fade0 {
  width: 100%;
  height: 50px;

  background: rgb(232,232,232);
  background: -moz-linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#ffffff",GradientType=1); 

  position: absolute;
  top: 0px;
}

._fade1 {
  width: 100%;
  height: 50px;

  background: rgb(232,232,232);
  background: -moz-linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#ffffff",GradientType=1); 

  position: absolute;
  bottom: 0px;
}

._scrollContainer {
  overflow: visible;
  overflow-y: scroll;
  overflow: visible scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

._scrollContainer::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

._prodContainer {
    transition: all 0.1s;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    height: 250px;
    width: 450px;
    overflow: hidden;
  
    background: ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    opacity: 0.9;
    border-radius: 6px;
  
    background: url("https://images.pexels.com/photos/5117638/pexels-photo-5117638.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
  
    margin: 4px;
    opacity: 0.85;
  
    position: relative;
  }
  
  ._prodContainer:hover {
    transition: all 0.3s;
    opacity: 1;
  
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  ._filter {
    transition: all 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
    padding-left: 10px;
  
    width: 100%;
    height: 100%;
  
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.7959384437368697) 0%,
      rgba(255, 255, 255, 0) 74%
    );
    background: -webkit-linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.7959384437368697) 0%,
      rgba(255, 255, 255, 0) 74%
    );
    background: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.7959384437368697) 0%,
      rgba(255, 255, 255, 0) 74%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
  }
  
  ._details {
    display: flex;
    flex-direction: row;
  
    width: 170px;
    height: 70px;
  
    margin: 10px;
    position: relative;
    top: 25px;
  
    font-size: 15px;
    font-weight: normal;
    color: white;
  }
  
  ._details2 {
    transition: all 0.3s;
  
    margin: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
  
    font-size: 15px;
    font-weight: bold;
    color: crimson;
  
    opacity: 0.4;
  }
  
  ._details2Text {
    margin: 0px;
    position: absolute;
    left: 10px;
    bottom: 55px;
    color: orangered;
    font-size: 20px;
  }
  
  ._details2:hover {
    transition: all 0.8s;
    opacity: 1;
  }

@media (max-width: 600px) {
}
